---
import '@fontsource/exo-2/latin-900.css'

import Main from '@layouts/main.astro'

import CodeRing from '@components/CodeRing.astro'
import Flag from '@components/Flag.astro'
import Icon from '@components/Icon.astro'
---

<Main title='Rayliwell'>
  <!-- Main section -->
  <div class='flex h-screen w-full items-center'>
    <!-- Background -->
    <div class='z-[-1] w-full h-full overflow-hidden absolute top-0 left-0'>
      <CodeRing />
    </div>

    <!-- Content -->
    <div class='ml-32 text-white w-[800px] text-5xl leading-normal font-800 font-title'>
      <div>
        I'm Ryan, A
        <span class='from-primary to-secondary bg-gradient-to-r bg-clip-text text-transparent'
          >full-stack</span
        >
        developer based in
        <Flag />.
      </div>
      <div class='inline-flex mt-3 text-4xl leading-loose w-full'>
        Working with&nbsp;
        <div class='relative grow overflow-hidden inline-flex'>
          <div class='scroller-title-[3] flex flex-col'>
            {
              ['NixOS', 'TypeScript', 'Rust'].map((item) => (
                <div class='flex'>
                  <span class='from-primary to-secondary bg-gradient-to-r bg-clip-text text-transparent after:text-white'>
                    {item}
                  </span>
                  .
                </div>
              ))
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</Main>
