.blue {
  --primary: 56 189 248;
  --secondary: 37 99 235;
}

.pink {
  --primary: 244 114 182;
  --secondary: 219 39 119;
}

.green {
  --primary: 163 230 53;
  --secondary: 101 163 13;
}

.orange {
  --primary: 251 146 60;
  --secondary: 234 88 12;
}

.purple {
  --primary: 232 121 249;
  --secondary: 192 38 211;
}

.red {
  --primary: 248 113 113;
  --secondary: 225 29 72;
}
