---
import Graphic from '@components/Graphic.astro'
---

<div
  class='codering-mask codering-position codering-rotate pointer-effects-none ring-rotate svg-gradient-to-r from-primary to-secondary absolute aspect-square select-none bg-gradient-to-r brightness-50 sm:brightness-100 [--size:500px] sm:[--size:600px] md:[--size:750px]'
></div>

<style lang='scss'>
  .codering-mask {
    mask-image: url('../../assets/codering.svg');
    mask-size: 100% 100%;
  }

  .codering-position {
    width: var(--size);
    height: var(--size);
    top: calc(50vh - var(--size) * 0.5);
    left: calc(100vw - var(--size) * 0.55);
  }

  .codering-rotate {
    animation: rotate 60s infinite linear;
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
</style>
