<div
  url={import('@assets/flag.svg')}
  class='flag-mask inline-block from-primary to-secondary aspect-[1.5/1] h-[1em] bg-gradient-to-r'
  aria-label='the United Kingdom'></div>

<style lang='scss'>
  .flag-mask {
    mask-image: url('../../assets/flag.svg');
    mask-size: 100% 100%;
  }
</style>
