.background {
  background-size: 100% 24px;
  background-image: linear-gradient(to bottom, transparent 1px, black 1px),
    linear-gradient(
      90deg,
      rgb(var(--primary) / 0.35) 0%,
      rgb(var(--secondary) / 0.2) 50%,
      rgb(var(--primary) / 0.35) 100%
    );

  mask-image: linear-gradient(to bottom, transparent 50%, black 100%);
  animation: animation 1s infinite linear;
}

@keyframes animation {
  from {
    background-position: 100% 0px;
  }
  to {
    background-position: 100% -24px;
  }
}
